<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="ZNing" name="author" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.title }}">
    <meta property="og:image" content="https://finews.withounder.com/assets/img/xiaoxi.png">
    <meta property="og:url" content="https://finews.withounder.com{{ page.url }}">
    <meta name="theme-color" content="#1976D2">
    <link rel="shortcut icon" href="https://withounder.com/images/favicon.ico">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="https://finews.withounder.com/feed.xml">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <script type="text/JavaScript">
      function AutoRefresh( t ) {
       setTimeout("location.reload(true);", t);
      }
    </script>
  </head>
  <body onload="JavaScript:AutoRefresh(60000);">
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>【免责声明】<br />投资有风险，入市需谨慎。本页面所载内容通过各方消息源渠道聚合，不构成任何投资建议，且不构成网站管理员任何投资观点。</small></p>
        <p>&copy; 2020 - <script type="text/javascript">document.write((new Date()).getFullYear());</script> 金融消息聚合简站. </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
